<div>
  <nav class="navbar-light navbar-expand-lg bg-info">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand text-light" routerLink="/"><h1>Let's Chat</h1></a>
        <div>
          <ul class="nav navbar-nav">
<!--            <li> <a class="nav-link d-inline p-2 text-light" routerLink="/login">Login</a></li>-->
<!--            <li> <a class="nav-link d-inline p-2 text-light" routerLink="/create-account">Create account</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
