<ng-container *ngIf="assignRoleObservable | async"></ng-container>
<div class="my-3 mx-3" *ngIf="currentUser() | async as currentUser">
  <div class="row my-2">
    <h5 class="col">Users</h5>
    <!--    Show for superAdmin & groupAdmin  -->
    <button (click)="createUser(users)" *ngIf="currentUser.role === roles.superAdmin || roles.groupAdmin" routerLink="/create-user" type="button" class="btn btn-outline-info col-2 mx-1">Create User</button>

<!--    Show for superAdmin -->
    <div *ngIf="currentUser.role === roles.superAdmin">❗️ You can see all users from the app.</div>
<!--    Show for groupAdmin -->
    <div *ngIf="currentUser.role === roles.groupAdmin">❗️ You can only see users from groups & rooms that you are an admin of.</div>
<!--    Show for groupAssis -->
    <div *ngIf="currentUser.role === roles.groupAssis">❗️ You can only see users from groups & rooms that you belong to.</div>
  </div>

  <!--  Users List-->
  <div *ngFor="let user of users | async" class="accordion-body">
    <div class="row bg-light text-dark my-2 p-2 border border-1 rounded">
      <div class="col text-capitalize">{{user | json}}</div>
      <!--    Show for superAdmin only -->
      <small *ngIf="currentUser.role === roles.superAdmin || roles.groupAdmin" class="col-2 text-info"> Add to group </small>

      <!--    Show for superAdmin & groupAdmin only -->
      <small *ngIf="currentUser.role === roles.superAdmin || roles.groupAdmin" class="col-2 text-info"> Add to room </small>

      <!--    Show for superAdmin only -->
      <small (click)="assignRoleToUser(user._id, roles.superAdmin)" *ngIf="currentUser.role === roles.superAdmin" class="col-2 text-info"> Make super admin </small>

      <!--    Show for superAdmin only -->
      <small (click)="assignRoleToUser(user._id, roles.groupAdmin)" *ngIf="currentUser.role === roles.superAdmin" class="col-2 text-info"> Make group admin </small>

      <!--    Show for superAdmin & groupAdmin only -->
      <small *ngIf="currentUser.role === roles.superAdmin || roles.groupAdmin" class="col-2 text-info" (click)="assignRoleToUser(user._id, roles.groupAssis)"> Make assistant </small>

      <!--    Show for superAdmin only -->
<!--      TODO: Add to be able to see users only to groups/rooms are admin assist, -->
<!--      TODO: to display remove option only for groups/rooms beloging to         -->
      <div *ngIf="currentUser.role === roles.superAdmin || roles.groupAdmin" class="col-1 text-info" (click)="deleteUser(user._id)"> X </div>
    </div>
  </div>
</div>
