<div class="my-3 mx-3" *ngIf="currentUser() | async as user">
  <div class="row my-2">
    <h5 class="col">Groups & Rooms</h5>
<!--    Show for superAdmin & groupAdmin  -->
    <button *ngIf="user.role === roles.superAdmin || roles.groupAdmin" type="button" class="btn btn-outline-info col-2 mx-1" routerLink="/create-group">New Group</button>

<!--    Show except regular users -->
<!--    TODO: Allow assistant to create rooms only from groups they belong-->
    <button *ngIf="user.role === roles.superAdmin || roles.groupAdmin" type="button" class="btn btn-outline-info col-2 mx-1" routerLink="/create-room">New Room</button>

    <!--    Show for superAdmin -->
    <div *ngIf="user.role === roles.superAdmin">❗️ You can see all groups & rooms from the app.</div>
    <!--    Show for groupAdmin -->
    <div *ngIf="user.role === roles.groupAdmin">❗️ You can only see groups & rooms that you are an admin of.</div>
    <!--    Show for groupAssis -->
    <div *ngIf="user.role === roles.groupAssis">❗️ You can only see groups & rooms that you belong to.</div>
  </div>

  <!--  Group & Room List-->
  <div *ngFor="let group of groups | async" class="accordion my-2">
    <div class="row bg-light text-dark my-2 p-2 border border-1 rounded">
      <div (click)="expandCard()" class="col w-100 text-black" type="button">
        {{groups | json}}
      </div>
<!--      Show to superAdmin & groupAdmin -->
      <div *ngIf="user.role === roles.superAdmin || roles.groupAdmin" class="col-1 text-info"> X </div>
    </div>

    <div *ngIf="isExpand" class="my-2 p-2">
      <div *ngFor="let room of rooms | async" class="accordion-body border-bottom">
        <div class="row">
          <div class="col">{{room | json}}</div>
<!--      Show to superAdmin & groupAdmin -->
          <div *ngIf="user.role === roles.superAdmin || roles.groupAdmin" class="col-1 text-info"> X </div>
        </div>
      </div>
    </div>
  </div>
</div>
