<!--TODO Add expand/collaps functionality-->
<div id="accordion" class="my-2">
  <div class="card">
    <div class="card-header">
      <h6 class="mb-0">
        Group 1
        <i class="fas fa-chevron-down" data-toggle="collapse"></i>
      </h6>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Room A
      </div>
      <div class="card-body">
        Room B
      </div>
      <div class="card-body">
        Room C
      </div>
    </div>
  </div>
</div>
